
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.menu{
    display: grid;
    background-color: #0082c3;
    list-style: none;
    height: 65px;
    width:auto;
}

ul{
    display: flex;
    list-style: none;
    margin-top: 20px;
    
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

a{ 
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.logo{
    height: 40px;
    width: 160px;
    margin-right: 40px;
    margin-top: -10px;
}

.hero{
    width: 1425px;
}